includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5 # 1 - 10 (Highest)
    paths:
        - app/
    parallel:
        processTimeout: 600.0

    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true
        uncheckedExceptionClasses:
            - RuntimeException # Runtime exception should not be catched, so its not an error
