.calendar-day {
    transition: background-color .15s ease-in-out;
}

.calendar-day:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.calendar-events-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
