.calendar-days {
    min-width: 960px !important;
}

.calendar-day {
    transition: background-color .15s ease-in-out;
}

.calendar-day:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.calendar-day-body {
    position: relative;
    display: grid;
    grid-template-rows: repeat(1440, minmax(0, 1fr));
    grid-template-columns: 1fr;
}

.events-layer > .event {
    height: 100%;
    max-height: 100% !important;
    overflow: hidden;
}

.events-layer > .event > .card {
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.time-slots,
.events-layer {
    display: contents;
}

.time-slots > div,
.events-layer > .event {
    grid-column: 1;
    align-self: stretch;
}

.events-layer > .event > .card {
    height: 100%;
}

.time-slot::before {
    content: "";
    display: inline-block;
    width: 100%;
}

.time-slot:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.event .card:hover {
    cursor: pointer;
}

.event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.1rem;
}

.event-user {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}

.input-group .tagify-fixed {
    max-width: 10rem;
    width: 10rem;

    display: inline-flex;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tagify__tag > div:before {
    box-shadow: 0 0 0 10em var(--tag-bg) inset;
}

.tagify__tag__removeBtn:hover + div:before {
    box-shadow: 0 0 0 10em var(--tag-remove-bg, rgba(211, 148, 148, .3)) inset !important;
}
